{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Requests</h1>
{% if mail %}
<div class="alert alert-success" role="alert">A confirmation email has been sent to you. Please check it.</div>
{% endif %}
<div class="row">
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <span>Cateagory:</span>
                {{ form.category }}
                <span>Deadline:</span>
                {{ form.deadline }}
                <span>Price:</span>
                {{ form.price }}
                <img src="/media/{{ form.image.value }}" class='' height='235' width='235'>
                <span>Description:</span>
                {{ form.description }}
                <a href="{% url 'mail:sendmail' %}" class="btn btn-primary">
                    Receive
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}